/* scroll */
.no-scroll-bar::-webkit-scrollbar {
  /* for Chrome, Safari, and Opera */
  display: none;
}

.no-scroll-bar {
  /* for Internet Explorer, Edge */
  -ms-overflow-style: none;
  /* for Firefox */
  scrollbar-width: none;
}

textarea {
  resize: none;
}

/* placeholder의 글자두께를 기본으로 */
.placeholder-normal::placeholder {
  font-weight: normal;
}
